body {
    font-family: sans-serif;
    color:black;
    font-size: 18px;
    background-image:url,('https://img-fotki.yandex.ru/get/4914/39663434.42f/0_8f2fd_8aeda76e_orig.jpg');
    background-size: cover;
    width: 50%;
    margin:auto;
    text-align: center;
}

h1{
    text-align: center;
    border-bottom: solid 20px black;
}
img{
    border: dotted;
}